*.txt

*.DS_Store

*.pyc

*.xls

/spectra_data_processed_all

/spectra_data_processed_new

/spectra_data_unprocessed

/spectra_data_unprocessed_all

/spectra_data_unprocessed_gaffey

/test_files

/test_files_random

/training_files

/training_files_random

/url_dics_to_load

/url_lists_to_load